
<!-- <p>hello drivers</p>

<button (click)="addDriver()" style="width:100px; height: 20px;">Add driver</button> -->
<!-- ///////////////הןספה///////////// -->
<h2>רשימת נהגים</h2>

<table border="1" width="300">
  <tr>
    <th>ID</th>
    <th>שם</th>
    <th>מחיקה</th>
  </tr>

  <tr *ngFor="let driver of drivers">
    <td>{{ driver.id }}</td>
    <td>{{ driver.name }}</td>
    <td>
      <button (click)="deleteDriver(driver.id)">מחק</button>
    </td>
  </tr>
</table>


<br><br>

<h3>הוספת נהג חדש</h3>

<label>ID:</label>
<input type="number" [(ngModel)]="newDriver.id">

<br>

<label>שם:</label>
<input type="text" [(ngModel)]="newDriver.name">

<br><br>

<button (click)="addDriver()">הוסף נהג</button>
